@font-face {
    font-family: 'SDGodic';
    src: url('font/AppleSDGothicNeoM.ttf');

    font-family: 'SDGodicEB';
    src: url('font/AppleSDGothicNeoEB.ttf');

    font-family: 'SDGodicB';
    src: url('font/AppleSDGothicNeoB.ttf');
}

.home{

    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr;

    background-color: #1e1e1e;

    

}
.titleDiv{

    display: flex;
    flex-direction: column;
    grid-row: 2;
    grid-column: 1;

    margin: auto;
    margin-left: 1vh;
}


#name{
    /* display: none; */
    font-size:10vh;
    font-weight: 500;
    font-family: 'SDGodicEB', sans-serif;
    font-weight: bolder;

    margin-bottom: 0;
    margin-left: 10vh;
    
    color: #ffffff;
    white-space: nowrap;

    text-shadow: 0 0 30px rgba(0, 47, 255, 0.7); 
    animation: neon-flicker 1s infinite alternate;

    
}

#title{
    font-size: 4vh;
    font-weight: 500;
    font-family: 'SDGodicB', sans-serif;
    font-weight: bolder;

    margin-left: 10vh;
    margin-top: 0;
    color: #ffffff;
    white-space: nowrap;

    /* text-shadow: 0 0 30px rgba(0, 47, 255, 0.7); 
    animation: neon-flicker 1s infinite alternate; */
    margin-bottom: 3vh;

}


#slogan{
    font-size: 3vh;
    font-weight: 700;
    font-family: 'SDGodicEB';
    font-weight: bolder;
    color: #01ffc9;

    margin-top: -3vh;
    margin-left: 10vh;

    white-space: nowrap;

    
}

#enlist{
    grid-row: 3;
    background-color: rgb(170, 255, 0);
    width: 25vh;
    height: 5vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 1em;

    /* font-family: 'Black Han Sans', sans-serif; */

    font-size: 1vw;
    
    margin: auto;

    margin-top: 0;

    margin-left: 10vh;

    
}




