#title{
    font-size: 4vh;
    font-weight: 500;
    font-family: 'Black Han Sans', sans-serif;
}

#slogan{
    font-size: 7vh;
    font-weight: 700;
    font-family: 'Black Han Sans', sans-serif;

    margin-top: -2vh;
}
