.section3{

    height: 90vh;
    background-color: #d8f56b;
    
    display: grid;
    grid-template-rows: 1fr 3fr;


    
}

.section3Container_1{
    margin-left: 10vh
}
.section3Container_2{
    margin-left: 5vh
}
.sec3title{
    font-family: SDGodicEB;
    text-align: center;
    margin: auto;
    font-size: 4vw;
    font-weight: bolder;


}
.sec3content{
    margin-top: 0;
    font-size: 2vw;
    margin: auto;
    margin-top: 0;
}