


.section4{
    background-color: black;

    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.7fr 2.5fr 1fr;
    height: 100vh;

    margin-top: 0;
}

.sec4title{
    text-shadow: 0 0 5px rgba(0, 47, 255, 0.7); 


    font-size: 3vw;
    grid-column: 1 / span 2;
    font-weight: 700;
    
}
.sec4container_1{
    margin:auto;
    font-size: 2vw;

    grid-column: 1;
    grid-row: 2;
}
.sec4container_2{
    margin: auto;

    font-size: 2vw;

    grid-column: 2;
    grid-row: 2;
}
.sec4caution{
    text-align: center;

    font-size: 1.3vw;
    grid-column: 1/3;
    margin: auto;

}

.sec4info_title{
    text-shadow: 0 0 5px rgba(0, 47, 255, 0.7); 
    font-size: 2.5vw;
    font-weight: 600;
}

.sec4info_content{


    font-size: 1.3vw;

    margin:auto;

}