.section2{

    text-align: center;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;


    
    height: 70vh;


    background-color: #fbfbfb;

}   
.section2_{

    text-align: center;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    align-items: center;
    justify-content: center;
    

    height: 70vh;


    background-color: #ffffff;
}

.sec2Container{
    margin: auto;

    align-items: center;

    justify-content: center;

    grid-column: 2;

}

.sec2Container_{
    margin: auto;

    align-items: center;

    justify-content: center;

    grid-column: 1;

}

.sec2title{
    
    font-size: 3vw;
    white-space: nowrap;
    margin: auto;

    margin-bottom: 1vh;


    /* margin-left: 10vh; */


}

.sec2title_{
    margin-bottom: 3vh;





    font-size: 2.5vw;
    white-space: nowrap;
    margin: auto;
    /* margin-right: 10vh; */

}



.sec2content{

    margin-top: 0;

    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 1.5vw;
    /* margin-left: 10vh; */
    white-space: nowrap;
    margin-top: 0;

}

.sec2content_{

    font-weight: 900;
    font-size: 100%;

    grid-column: 1;
    grid-row: 1/3;
    text-align: center;
    

    width: 1.5vw;
    margin: auto;
    white-space: nowrap;

}


.imgContainer{
    
    padding: 10px;
    margin: auto;
 
    grid-column: 1;
    grid-row: 1/3;


    margin-right: 3vh;
    width: 80%;


    border-radius: 1vh;

}

.imgContainer_{
    

    margin: auto;
    padding: 10px;
    grid-column: 2;
    grid-row: 1/3;


    width: 80%;


}

.accompany{
    margin: auto;

    
    width: 100%;
    border-radius: 2vh;

}

