.section3{
    height: 80vh;
    background-color: #ffffff;
}

.section3Container_1{
    margin-left: 10vh
}
.section3Container_2{
    margin-left: 5vh
}
.sec3title{
    font-size: 2.5vw
}
.sec3content{
    font-size: 1vw
}