@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Black Han Sans', sans-serif;font-family: 'Black Han Sans', sans-serif;
    
}
body{
    width: 100%;
    margin: 0;
    background-color: #1e1e1e;
}

.main{
    display: flex;
    flex-direction: column;

    margin: auto;

}

.footer{
    height: 20vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

#logo{
    width: 3vh;
    margin: auto;
}

#footerlogo{
    width: 30vh;
    margin: auto;
    /* margin-left: 10vh; */
    /* margin-bottom: 7vh; */

}

#contact{
    
}

/* //모바일로 가면 세로 폭 등등 수정해서 제작해야할듯 */





