@media (max-width: 800px) {
    
    .home{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 0.5fr 1fr;

        align-items: center;
        justify-content: center;
        text-align: center;


    }

    .titleDiv{
        margin: auto;


    }
    
    #name{
        margin: auto;
        width: 60%;
        height: auto;
        margin-bottom: 0;

    }
    #title{
        font-size: 2.5vh;
        margin: auto;
        font-weight: 600;
        margin-bottom: 0;
        
        
    }

    #slogan{

        font-size: 4.5vw;
        font-weight: 700;
        margin: auto;
        margin-top: -1vh;

    }
    .homeDeco{
        margin-top: 0;
        display: flex;
    }
    #enlist{
        border-radius: 2.9vw;
        margin: auto;
        margin-top: 0;

        font-size: 1em;
    }
}