@media (max-width: 800px) {
    .home{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 0.5fr 1fr;

        align-items: center;
        justify-content: center;
        text-align: center;


    }

    .titleDiv{
        margin: auto;


    }
    
    #name{
        margin: auto;
        font-weight: 600;

    }
    #title{
        font-size: 2.5vh;
        margin: auto;
        font-weight: 600;
        
        
    }

    #slogan{
        font-weight: 700;
        margin: auto;
        font-weight: 500;
    }
    #enlist{
        margin: auto;

        font-size: 1em;
    }
}