@media (max-width: 800px){
    .section3{
        height: 50vh;
    }
    .sec3title{
        font-size: 5vw;
        font-family: Noto Sans KR;
        font-weight: 600;
    }
    
    .sec3content{
        font-size: 3.5vw;
    }
}

